<div class ="container full-screen">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="home-page jumbotron">
    <div class="container">
      <h1>About Tracker Request!</h1>
      <p>We are a company based in Boulder, CO that is changing the game for developers like you.</p>



    </div>
  </div>
</div> <!-- /container full-screen -->

<div class="container">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Matthew Michnal <span class="text-muted">He will blow your mind.</span></h2>
      <p class="lead">Using his laptop, Matt builds amazing products for the world wide web. He likes using Ruby, Rails, Rspec, and a variesty of other tools to build amazing solutions online. A self-taught web developer, Matt loves working with people who can teach new things. He has this amazing ability to absorb new information and uses it in his drive to pursue new goals and challenges.  Matt creates responsive websites that you’ll absolutely love! Especially on your mobile devices.</p>
    </div>
    <div class="col-md-5 feature-img">
      <%= image_tag('matt_michnal.png') %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Tim Park <span class="text-muted">Oh yeah, he climbs rocks and shows others how. Code too.  He's that good, See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7 feature-img">
      <%= image_tag('100px.png') %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Daniel Debevec <span class="text-muted">He is a code surgeon. When it's bleeding, he will fix it.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 feature-img">
      <%= image_tag("100px.png") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Sue Uyetake <span class="text-muted">She is an IT Poet. When all is quiet and no one around, her code will sing.</span></h2>
      <p class="lead">Based in Westminster, CO, Sue has been immersed in code for years. She has installed operating systems, written hypertext manuals, apologized to customers about issues in tech support, then did something about it in testing departments. This is her next chapter to dive into coding to prevent issues.</p>
    </div>
    <div class="col-md-5 col-md-pull-7 feature-img">
      <%= image_tag('sue_tree.jpg') %>
    </div>
    <!--<div class="col-md-5">-->
      <!--<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    <!--</div>-->
  </div>


  <!-- /END THE FEATURETTES -->
  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->

