<div class="container full-screen">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="home-page jumbotron">
    <div class="container">
      <h1>Contact Tracker Request</h1>

      <p>We are a company based in Boulder, CO that is changing the game for developers like you.</p>
    </div>
  </div>
</div> <!-- /container full-screen -->

<div class="container">
  <!-- Example row of columns -->
  <div class="row header-info">
    <div class="col-md-6">
      <h2 class="header-icons"><i>Inquiries</i></h2>
      <hr>

      <p><strong>Customer Support</strong></p>

      <p>
        9191 Sheridan Blvd. #300</br>
        Westminster, CO 80031
      </p>

      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p>
    </div>
    <div class="col-md-6">
      <h2 class="header-icons"><i>Report Bugs</i></h2>
      <hr>

      <p><strong>Having Problems?</strong></p>

      <p>At Tracker Request, we're serious about optimizing your user experience. We know that bugs in our code reduce
        your productivity and that's the opposite of what we want. Please, tell us the problems that you're experiencing
        and we'll do our best to solve it as soon as possible.
      </p>

      <p>
        Thanks for your patience!
      </p>

      <hr>

      <div class="text-center">
        <%= link_to button_tag('Signin', class: 'btn btn-primary btn-lg'), '/auth/github' %>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->

