<div class ="container full-screen">
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="home-page jumbotron">
      <div class="container">
        <h1>Welcome to Tracker Request!</h1>
        <p>If you use Pivotal Tracker and Github, then you have to check out Tracker Request. This web application will provide the user interface that you didn't even know you needed. Dont believe me, give it a try and see for yourself!</p>
        <p>
        <%= link_to button_tag('Signin', class: 'btn  btn-primary btn-lg main-button'), '/auth/github' %>
        </p>
      </div>
    </div>
</div> <!-- /container full-screen -->

<div class="container">
      <!-- Example row of columns -->
      <div class="row header-info">
        <div class="col-md-4">
          <h2 class="header-icons"><i class="fa fa-code"></i></h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
          <h2 class="header-icons"><i class="fa fa-code-fork"></i></h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
        <div class="col-md-4">
          <h2 class="header-icons"><i class="fa fa-lock"></i></h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>

     <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Github Transparency. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 feature-img">
          <%= image_tag("TR-Github.png") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Pivotal Tracker Transparency. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7 feature-img">
          <%= image_tag("TR-Pivotal.png") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">All Brought Together for your Benefit! <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>


      <!-- /END THE FEATURETTES -->
      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
</div> <!-- /container -->

