/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@media(min-width: 768px){
    .navbar-nav > li > a{
        padding-top: 20px;
    }
}
@media(max-width: 768px){
    div#navbar{
        padding: 0px;
        background: #27c667;
    }
    ul.nav.navbar-nav{
        display: inherit;
        text-align: center;
        width: 100%;
        margin: 0px;
    }
    ul.nav.navbar-nav a:hover{
        background: #fff;
        color: #000;
    }
    a.navbar-logo.pull-left img{
        padding-left: 5px;
    }
}
.navbar-inverse{
    background-color: #4662A2;
    height: 55px;
    margin-bottom: 0px;
}
.navbar-nav{
    float: right;
}
nav.navbar.navbar-inverse.navbar-fixed-top a{
    color: #fff;
}
.main-button{
    color: #fff;
    background-color: #4662A2;
    border-color: grey;
    box-shadow: 2px 2px 2px grey;
    font-size: 22px;
    padding: 25px 50px;
}
.main-button:hover{
    color: #000;
    background-color: #5871ab;
}
.feature-img img{
    max-width: 100%;
}
a.navbar-brand{
    padding-top: 20px;
}
a.navbar-logo.pull-left{
    padding-top: 5px;
    padding-right: 10px;
}
