body{
    background: #e9eaed;
}
@media (min-width: 1300px){
    .container.console-container{
        width: 1370px;
    }
}
.console-panel{
    border: 1px solid #e3e3e3;
    margin: 4px;
    background: #fff;
    box-shadow: 2px 2px #e3e3e3;
    padding: 0px;
}
.console-panel .list-group{
    margin-bottom: 0px;
}
.console-panel .list-group-item{
    width: 100%;
    text-align: left;
}
.list-group-item:last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.console-panel .list-group-item:hover{
    background: #21759B;
    color: #fff;
}
.list-group-item:first-child{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.col-md-4.console-panel{
    width: 32%;
}
.col-md-6.console-panel{
    width: 48%;
}
.col-md-3.console-panel{
    width: 23%;
}
.console-panel:hover{
    box-shadow: 4px 4px #e3e3e3;
}
.console-panel p{
    padding: 5px;
}
.console-row{
    margin-top: 50px;
}
@media screen and (max-width: 992px) {
    .col-md-4.console-panel{
        width: inherit;
    }
    .col-md-6.console-panel{
        width: inherit;
    }
    .col-md-3.console-panel{
        width: inherit;
    }
    .col-md-6{
        margin-bottom: 20px;
    }
    .col-md-4{
        margin-bottom: 20px;
    }
    .col-md-3{
        margin-bottom: 20px;
    }
}
.col-md-4.console-panel.profile-panel{
    padding: 0px;
}
.col-md-4.console-panel.profile-panel span{
    display: block;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.col-md-4.console-panel.profile-panel span:last-of-type{
    padding-bottom: 20px;
}
.profile-panel img{
    max-width: 150px;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.number-panel{
    padding: 0px;
}
.number-panel div.col-md-6{
    padding: 0px;
}
.number-panel div.col-md-6 p{
    font-size: 42px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
.panel-title{
    margin: 0px;
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
    color: #fff;
    border-bottom: 1px solid #000;
    font-size: 24px;
}
.tracker-title{
    background: #176d63;
}
.github-title{
    background: #5B2A4D;
}
.github-title.split{
    border-left: 1px solid #efefef;
}
span.glyphicon.glyphicon-refresh{
    font-size: 26px;
    vertical-align: 5px;
}
.repo-count-loading{
    display: none;
    margin: auto;
    width: 150px;
}
.info-individual-loading{
    display: none;
    margin: auto;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-individual-loading img{
    width: inherit;
}
.repo-list-loading{
    display: none;
    margin: auto;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.project-story-loading{
    display: none;
    margin: auto;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.project-story-loading img{
    width: inherit;
}
.current-repo-loading{
    display: none;
    margin: auto;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.current-repo-loading img{
    width: inherit;
}
.repo-list-loading img{
    width: inherit;   
}
.repo-branch-loading{
    display: none;
    margin: auto;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.repo-branch-loading img{
    width: inherit;
}
.repo-pull-request-loading{
    display: none;
    margin: auto;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.repo-pull-request-loading img{
    width: inherit;
}
.repo-count-loading img{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    display: block;
}
.repo-list{
    height: 250px;
    overflow: scroll;
}
.repo-branches{
    max-height: 300px;
    overflow: scroll;
}
.repo-branch-header{
   text-align: center; 
}
.repo-pull-requests{
    max-height: 300px;
    overflow: scroll;
}
i.fa.fa-github-alt.fa-2x{
    padding-right: 10px;
    vertical-align: sub;
}
i.fa.fa-file-code-o{
    float: right;
    padding-right: 10px;
}
i.fa.fa-file-text{
    float: right;
    padding-right: 10px;
}
li.list-group-item.current-repo-info{
    font-weight: bold;
    font-size: 16px;
}
.current-repo-header{
    font-weight: bold;
    font-size: 20px;
}
span.pr-indiv-header{
    font-weight: bold;
    font-size: 16px;
}
p.pr-info-body{
    font-size: 16px;
}
p.pr-info-body.success-rebase:hover{
    color: #fff;
}
p.pr-info-body.success-rebase{
    color: green;
}
p.pr-info-body.fail-rebase{
    color: red;
}
.pull-request-btn-info{
    padding 8px 2px;
    margin-bottom: 0px;
}
.individual-info-panel{
    max-height: 400px;
    overflow: scroll;
}
.pull-request-btn{
    margin-right auto;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.pr-comment-list{
    list-style: none;
}
.pr-comment-hr{
    border-top: 1px solid #000;
}
.project-stories{
    max-height: 340px;
    overflow: scroll;
}
.story-individual-info{
    list-style: none;
}
ul.story-individual-info{
    padding-left: 5px;
}
.story-panel{
    max-height: 400px;
    overflow: scroll;
}
.comments-list{
    padding-left: 10px;
    word-wrap: break-word;
}
.repo-branches a{
    word-wrap: break-word;
}
