body{
    background: #e9eaed;
}
.console-panel{
    border: 1px solid #e3e3e3;
    margin: 4px;
    background: #fff;
    box-shadow: 2px 2px #e3e3e3;
}
.col-md-4.console-panel{
    width: 32%;
}
.col-md-6.console-panel{
    width: 48%;
}
.col-md-3.console-panel{
    width: 23%;
}
.console-panel:hover{
    box-shadow: 6px 6px #e3e3e3;
}
.console-row{
    margin-top: 50px;
}
@media screen and (max-width: 992px) {
    .col-md-4.console-panel{
        width: inherit;
    }
    .col-md-6.console-panel{
        width: inherit;
    }
    .col-md-3.console-panel{
        width: inherit;
    }
}
