body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.container.content{
    width: 100%;
    padding: 0px;
}
.jumbotron .container{
    height: 400px;
}
.flash-content{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container.full-screen{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.home-page.jumbotron{
    border-radius: 0px;
    background-image: url('river-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.flash-content div.alert{
    margin-bottom: 0px;
    border-radius: 0px;
}
.home-page.jumbotron div.container{
    background: #e6e6e6;
    border-radius: 20px;
    opacity: .9;
    text-align: center;
}
h2.header-icons{
    text-align: center;
    font-size: 72px;
}
.header-info p{
    text-align: center;
}
hr{
    border-top: 1px solid #fff;
}
.col-sm-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
