body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.container.content{
    width: 100%;
    padding: 0px;
}
.jumbotron .container{
    height: 400px;
}
.navbar-inverse{
    background-color: #27c667;
    height: 60px;
    margin-bottom: 0px;
}
.navbar-nav{
    float: right;
}
nav.navbar.navbar-inverse.navbar-fixed-top a{
    color: #fff;
}
.flash-content{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container.full-screen{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.home-page.jumbotron{
    border-radius: 0px;
    background-image: url('river-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.flash-content div.alert{
    margin-bottom: 0px;
    border-radius: 0px;
}
.home-page.jumbotron div.container{
    background: #e6e6e6;
    border-radius: 20px;
    opacity: .9;
    text-align: center;
}
.main-button{
    color: #fff;
    background-color: #27c667;
    border-color: grey;
    box-shadow: 2px 2px 2px grey;
    font-size: 22px;
    padding: 25px 50px;
}
.main-button:hover{
    color: #000;
    background-color: #1f9b51; 
}
.feature-img img{
    max-width: 100%;
}
a.navbar-brand{
    padding-top: 20px;
}
a.navbar-logo.pull-left{
    padding-top: 5px;
    padding-right: 10px;
}
h2.header-icons{
    text-align: center;
    font-size: 72px;
}
.header-info p{
    text-align: center;
}
hr{
    border-top: 1px solid #fff;
}
.col-sm-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
